In [1]:
import os
import sys

os.chdir('/'.join(os.getcwd().split('/')[:-2]))

In [2]:
from src import *

In [3]:
cursor = connect_cora()

In [4]:
command_str = """
        SELECT * FROM cites LIMIT 20
    """.strip()

cursor.execute(command_str)
cursor.fetchall()

[(35, 887),
 (35, 1033),
 (35, 1688),
 (35, 1956),
 (35, 8865),
 (35, 12576),
 (35, 15670),
 (35, 18582),
 (35, 27510),
 (35, 28290),
 (35, 28851),
 (35, 33904),
 (35, 33907),
 (35, 35061),
 (35, 38205),
 (35, 41714),
 (35, 44368),
 (35, 45599),
 (35, 46079),
 (35, 46431)]

In [5]:
close()

In [6]:
cursor = connect_citeseer()

In [7]:
command_str = """
        SELECT * FROM cites LIMIT 20
    """.strip()

cursor.execute(command_str)
cursor.fetchall()

[('100157', '100157'),
 ('100157', '364207'),
 ('100157', '38848'),
 ('100157', 'bradshaw97introduction'),
 ('100157', 'bylund99coordinating'),
 ('100157', 'dix01metaagent'),
 ('100157', 'gray99finding'),
 ('100157', 'labrou01standardizing'),
 ('100157', 'labrou99agent'),
 ('100157', 'nodine98overview'),
 ('100157', 'nodine99active'),
 ('100157', 'wagner97artificial'),
 ('100598', '455651'),
 ('100598', 'marquez00machine'),
 ('100598', 'punyakanok01use'),
 ('101570', 'krasnogor00memetic'),
 ('10227', '131669'),
 ('10227', 'sima00computational'),
 ('10227', 'sima01computational'),
 ('103027', '140169')]

In [12]:
cursor = connect_imdb()

In [13]:
command_str = """
        SELECT * FROM movies ORDER BY RAND() LIMIT 20
    """.strip()

cursor.execute(command_str)
cursor.fetchall()

[(72305, "Cowboy's Sacrifice, A", 1911, None),
 (47459, 'Broken Condom', 2004, None),
 (232639, 'Nikki and Alexander', 1989, None),
 (369300, 'WWF Smackdown! Just Bring It', 2001, None),
 (311125, 'Spies', 1943, 7.3),
 (75566, 'Curse of the Swamp Creature', 1994, None),
 (201539, 'Making Animal Babies', 2000, None),
 (119858, 'Frente a frente', 1936, None),
 (213855, 'Miles Canyon Tramway', 1901, None),
 (340555, 'Trouble with Marnie, The', 2000, None),
 (231778, 'Night Angel', 1931, 6.4),
 (318516, 'Suivez-moi jeune homme', 1958, None),
 (49691, 'Buone notizie, Le', 1979, 6.6),
 (139820, 'Hasards ou concidences', 1998, 6.2),
 (76588, "Daddy's Angel", 1996, None),
 (167085, 'Jet Beacon Let-Down, The', 1957, None),
 (226351, 'Nachttrein naar Savannah Georgia, De', 1976, None),
 (355873, 'Vive le premier de mai', 1999, None),
 (206273, 'Marotia', 1977, None),
 (304547, 'Slatan Dudow', 1975, None)]

In [14]:
close()